@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@400;500;600;700&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
    --font-logo: Montserrat, sans-serif;
    --font-primary: Poppins;
    --text-logo: 34px;
    --text-navbar: 16px;
    --color-some-text: #616161;
    --color-card-bg: #FFF3E3;
    --color-primary: #B88E2F;
    --color-secondary: #B88E2F;
    --color-tertiary: #333333;
    --color-gray-3: #898989;
    --color-gray-4: #B0B0B0;
    --color-light-bg: #F4F5F7;
}
